@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Anton&family=Nerko+One&family=Playfair+Display&family=Rubik&family=Zen+Dots&display=swap');
.title {
    font-family: 'Abyssinica SIL', serif;
}

.zen {
    font-family: 'Zen Dots', cursive;
}

.playfair {
    font-family: 'Playfair Display', serif;
}

.rubik {
    font-family: 'Rubik', sans-serif;
}

.anton {
    font-family: 'Anton', sans-serif;
}

.nerko {
    font-family: 'Nerko One', cursive;
}