@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Anton&family=Nerko+One&family=Rubik&display=swap');

.title {
    font-family: 'Abyssinica SIL', serif;
}

.rubik {
    font-family: 'Rubik', sans-serif;
}

.anton {
    font-family: 'Anton', sans-serif;
}

.nerko {
    font-family: 'Nerko One', cursive;
}